.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

table {
  width: 800px; /* same as pop-up width */
  border-spacing: 0;
}

thead, tbody {
    display: block;
}

tr:after {  /* clearing float */
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

tbody {
    height: 530px; /* slightly smaller than the pop-up height, to account for header and button */
    overflow-y: scroll;
}

.jwt-table td {
  border-color: black;
  border-style: solid;
  border-width: 1px 1px 1px 0px;
}

.row-url {
  width: 33%;
  word-break: break-all;
}

.row-httpOnly {
  width: 7%;
}

.row-type {
  width: 5%;
}

.row-name {
  width: 10%;
}

.row-value {
  width: 45%;
  word-break: break-all;
}